.header .container {
  display: flex;
}

.container {
  width: 1170px;
  margin: 0 auto;
  padding: 0;
}

.header {
  display: flex;
  align-items: center;
  padding: 25px 0;
}
.header .logo {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 30.52px;
  color: black;
}
.header .logo .logo-blue-text {
  color: #2196F3;
}
.header .logo .logo-black-text {
  color: black;
}
.header .nav {
  align-items: center;
  display: flex;
  width: 281px;
  margin-left: 93px;
  justify-content: space-around;
}
.header .nav .nav-link {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.41px;
  text-decoration: none;
  color: #212121;
}
.header .nav .nav-link:hover {
  color: #2196F3;
}
.header .contact-info {
  margin-left: 318px;
  display: flex;
  align-items: center;
}
.header .contact-info .contact-info-email,
.header .contact-info .contact-info-phone {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.41px;
  color: #757575;
  margin-left: 30px;
}
.header .contact-info .contact-info-email:hover,
.header .contact-info .contact-info-phone:hover {
  color: #2196F3;
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}
.portfolio .filters {
  display: flex;
  flex-wrap: wrap;
  width: 575px;
  justify-content: space-between;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}
.portfolio .filters-item .item-button {
  height: 38px;
  border-radius: 4px;
  border: none;
  background: #F5F4FA;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.03em;
  text-align: center;
  cursor: pointer;
}
.portfolio .filters-item .item-button:hover {
  background: #2196F3;
  color: white;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1215686275);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.0784313725);
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1019607843);
}
.portfolio .filters-item .button-all {
  width: 73px;
}
.portfolio .filters-item .button-web {
  width: 125px;
}
.portfolio .filters-item .button-apps {
  width: 112px;
}
.portfolio .filters-item .button-design {
  width: 103px;
}
.portfolio .filters-item .button-marketing {
  width: 130px;
}
.portfolio-list {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-between;
}
.portfolio-list .portfolio-project {
  height: 404px;
  border: 1px solid #EEEEEE;
  margin-bottom: 30px;
}
.portfolio-list .portfolio-project .project-name {
  margin-left: 24px;
  margin-top: 20px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.06em;
  text-align: left;
}
.portfolio-list .portfolio-project .project-type {
  margin-left: 24px;
  margin-top: 4px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #757575;
}

.footer {
  background-color: #2F303A;
  height: 252px;
}
.footer .footer-logo {
  padding-top: 60px;
  padding-left: 215px;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 30.52px;
  letter-spacing: 0.03em;
  text-align: left;
}
.footer .footer-logo .logo-blue-text {
  color: #2196F3;
}
.footer .footer-logo .logo-white-text {
  color: white;
}
.footer .footer-contact {
  list-style: none;
  width: 231px;
  margin-left: 210px;
  margin-top: 20px;
}
.footer .footer-contact .footer-contact-item .footer-contact-text {
  padding: 9px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer .footer-contact .footer-contact-item .footer-contact-text.address {
  color: white;
}/*# sourceMappingURL=portfolio.css.map */