.header .container {
    display: flex;
}
.container {
    width: 1170px;
    margin: 0 auto;
    padding: 0;
}

@import 'utils/_header.scss';
@import 'utils/Portfolio/_portfolio.scss';
@import 'utils/_footer.scss';